* {
  background-color: black;
  color: white;
  font-family: 'Mukta', sans-serif;
  font-weight: 400;
}

@media (min-width: 1200px) {
  .container {
    width: 470px;
    margin-bottom: 0;
  }
}

.jumbotron {
  background-color: black;
}

a {
  color: red;
  font-size: 20px;
}

a:hover {
  color: white;
  font-style: italic;
}

#enter {
  width: 100%;
}

#enter a {
  font-size: 20px;
}

img {
  float: right;
}

body {
  background-color: red;
  margin-bottom: 0;
}

h1 {
  font-size: 71px;
}

.btn-primary {
  color: #babab2;
  background-color: white;
}

.btn-primary:hover {
  color: white;
  background-color: #babab2;
}

.second hr {
  border-color: #babab2;
  margin-top: .5em;
}

h4 {
  font-size: 10px;
}

strong {
  color: #babab2;
}

.form-control {
  background-color: #babab2;
  border: none;
  color: black
}

hr {
  width: 100%;
  margin-left: -0px;
  margin-top:12px;
}

h1 {
  font-weight: bold;
}

.form-control {
  width: 100%;
}

.container {
  margin-left: 0;
}
